<!DOCTYPE html>
<html lang="en">
<head>
  <title>Fake news</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

  <style type="text/css">
  body{
background-color: #dedbd3;
      background-image: url("https://media.istockphoto.com/photos/graphical-modern-digital-world-news-studio-background-picture-id884105884?k=6&m=884105884&s=612x612&w=0&h=02olc5y71L7x_PE_zbFw6uodITU0NryIRXUAT0tG9oc=");
}
  nav{
  background-color: #214946
;
  height: 60px;
  }
  .navbar-brand{
  color: #2dfa03c4;
  font-size: 30px;
      text-align:center;
  }

  nav ul li a{
  color: white;

  font-size: 20px
  }
  </style>
</head>
<body>

<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" ></a>
    </div>
    <ul class="nav navbar-nav navbar-right">
    <li><a href="/">Home</a></li>
      <li><a href="C:\Users\grees\Desktop\SMartinternz\IBM_PROJECT\Fake-news-detection-new-main\Flask\templates\main.html">Fake_news_Predict</predict></a></li>
    </ul>
  </div>
</nav>
 
<div class="container">
  <div align="justify">

  <h3 style="color:white;"><marquee><b>WELCOME TO OUR WEBSITE...</b></marquee></h3><br><br><br>
  <h4  style="color: white;"><center><b>FAKE NEWS ANALYSIS...</b></center></h4>
</div>

	

</body>
</html>
